.map{
  overflow: hidden;
  height: calc(100vh - #{$headerHeight});

  &__utils{
    position: absolute;
    top: $headerHeight;
    background: rgba(255,255,255, .75);
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: loadContainer .5s;
    z-index: 300;

    @include md {
      padding: 0 2.5%;
      height: $headerHeight + 20;
      align-items: center;
      flex-direction: row-reverse;
      > * {
        flex: 50%;
      }
    }

    &--list{
      display: none;
      left: 0;
      top: $headerHeight + 20;
      position: absolute;
      padding: 0 5%;
      background: rgba(255,255,255, .75);
      height: calc(100vh - #{$headerHeight * 2 + 20});
      overflow-x: hidden;
      overflow-y: scroll;

      @include md {
        display: block;
        width: 25%;
        font-size: .8em;
      }

      @include xl {
        font-size: 1em;
        width: $headerHeight * 6;
      }

      &-item{
        padding: 0 0 1.6rem 0;
        cursor: pointer;
        h4{
          font-weight: 700;
          color: $brown;
        }
        a{
          color: $pale;
          font-weight: 700;
          font-size:.8em;
        }
      }
    }

    &--search {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;

      > input{
        margin: 1rem 5%;
        padding: 1rem 5% 1rem 12%;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $brown;
        background: none;
      }

      &-button{
        position: absolute;
        left: 8%;
        background: url('../../images/search.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        > input{
          height: 30px;
          width: 30px;
        }
      }

      
    }

    &--glasses{
      display: flex;
      width: 100%;
      padding: 0 5%;
      justify-content: space-between;
      img{
        height: 24px;
        width: 24px;
      }
      &-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        @include md {
          padding-bottom: initial;
        }
      }
    }
  }
}