.restaurant {

  &__wrapper{
    animation: restaurantAppear $bezier .5s;
  }
  
  &__popup{
    font-family: "Montserrat";
    color: $brown;
    cite{
      display: flex;
      align-items: center;
      font-style: normal;
      >*{
        padding: 0 .3rem;
      }
      img{
        width: 1.5rem;
      }
    }
    a {
      display: block;
      color: $pale;
      text-decoration: underline;
    }
  }
}

@keyframes restaurantAppear{
  0%{
    transform: translateY(5%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}