.restaurant {
  
  &__popup{
    font-family: "Montserrat";
    color: $brown;
    // height: 0;
    // overflow: hidden;
    // width: 1rem;
    cite{
      display: flex;
      align-items: center;
      font-style: normal;
      >*{
        padding: 0 .3rem;
      }
      img{
        width: 1.5rem;
      }
    }
    a {
      display: block;
      color: $pale;
      text-decoration: underline;
    }
  }

  &__wrapper{
    animation: restaurantAppear $bezier .5s;
    cursor: pointer;
    // &:hover{
    //   background: $sunny;
    // }
    // .mapboxgl-popup-content{
    //   background: $pale;
    //   box-shadow: 2px 2px 2px rgba(110, 110, 110, 0.363);
    // }
    // .mapboxgl-popup-tip {
    //   border-top-color: $pale !important;
    // }

    &.selected{

      // .mapboxgl-popup-content{
      //   background: #fff;
      // }
      // .mapboxgl-popup-tip {
      //   border-top-color: #fff !important;
      // }
      > div {
        z-index: 200 !important;
      }
      // .restaurant__popup{
      //   width:100%;
      //   height:100%;
      // }
    }
  }
  
}

@keyframes restaurantAppear{
  0%{
    transform: translateY(5%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes vibrate{
  0%{
    transform: rotateZ(0)
  }
  50%{
    transform: rotateZ(45deg)
  }
  100%{
    transform: rotateZ(0)
  }
}